.container{
    background-image: url("../../assets/login-background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
}

.glowing-box {
    background-color: red;
    height: 100%;
    width: 100%;
    border-radius: 12px; 
    background: -webkit-linear-gradient(20deg, #004E95 55%,#add8e6 45%);
    box-shadow: 0 0 15px 5px rgba(173, 216, 230, 0.7); 
    transition: box-shadow 0.3s ease-in-out; 
    display: flex;
    flex-direction: row;
  }
  
  .glowing-box:hover {
    box-shadow: 0 0 25px 10px rgba(173, 216, 230, 1); 
  }

  .box{
    flex: 1;
    height: 100%;
    z-index: 1;
    display: flex;
    padding-top: 5%;
  }

  .left-box {
    flex: 55%;
  }

  .right-box {
    flex: 45%;
  }


  