.nav-link {
    text-decoration: none;
    color: black;
    background-color: transparent; 
    border-radius: 12px;
    transition: background-color 0.4s ease; 
    display: flex;
  }

  .nav-link-login {
    text-decoration: none;
    color: black;
    background-color: transparent; 
    border-radius: 12px;
    background-color: rgba(37, 44, 46, 0.3); 
    display: flex;
  }
  
  .nav-link:hover {
    background-color: rgba(37, 44, 46, 0.3); 
  }
  