.container{
    background-image: url("../../assets/login-background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    overflow: hidden;

}

.glowing-box {
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    border-radius: 12px; 
    box-shadow: 0 0 15px 5px rgba(173, 216, 230, 0.7); 
    transition: box-shadow 0.3s ease-in-out; 
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .first-background {
    background: linear-gradient(60deg, rgba(0, 78, 149, 0.5) 55%, rgba(173, 216, 230, 0.5) 45%);
  }
  
  .second-background {
    background: linear-gradient(60deg, rgba(173, 216, 230, 0.5) 55%, rgba(0, 78, 149, 0.5) 45%);
  }
  
  .glowing-box:hover {
    box-shadow: 0 0 25px 10px rgba(173, 216, 230, 1); 
  }

  .box{
    height: 100%;
    z-index: 1;
    display: flex;
   overflow: hidden;
  }

  .left-box {
    padding-top: 5%;
    flex: 55%;
  }

  .right-box {
    flex-direction: column;
    flex: 45%;
  }

  .floating {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    position: relative;
    animation: float 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


  