.sign-in {
    text-align: center;
    font-family: Gill Sans, Verdana;
    color: white;
  }
  
  .sign-in span {
    color: rgb(130, 171, 237);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .sign-in span:hover {
    color: white;
  }