.sign-up {
    text-align: center;
    font-family: Gill Sans, Verdana;
    color: black;
  }
  
  .sign-up span {
    color: #095475;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .sign-up span:hover {
    color: white;
  }